@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');

body {
    background-color: #161616 !important;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}

/* ============component========= */
/* background */
.bg-container {
    background-color: #161616;
}
.bg-orange {
    background-color: #EE4622;   
}
.bg-grey {
    background-color: #E5E5E5 !important;
}
.bg-grey2 {
    background-color: #3A3A3A !important;
}
.bg-grey3 {
    background-color: #2B2B2B;
}
.bg-yellow {
    background-color: #F7941E !important;
}


/* text-color */
.text-orange {
    color: #EE4622;
}
.text-white {
    color: white !important;
}
.text-grey {
    color: #B1B1B1 !important;
}
.text-green {
    color: #0ACF83 !important;
}
.text-red {
    color: #FF0742 !important;
}
.text-yellow {
    color: #F7941E !important;
}



/* letter-spacing */
.ls-3 {
    letter-spacing: 2px;
}

/* font weight */
.fw-300{
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.fw-small {
    font-weight: lighter !important;
}
.font-pt {
    font-family: 'PT Sans', sans-serif !important;
}

/* font-size */
.fs-7 {
    font-size: 14px !important;
}
.fs-8 {
    font-size: 12px !important;
}
.fs-9 {
    font-size: 9px !important;
    font-weight: lighter !important;
}
.fs-0 {
    font-size: 48px;
}
.fs-sans {
    font-family: 'PT Sans', sans-serif;
}

/* border radius */
.borra-2 {
    border-radius: .25rem;
}
.borra-3 {
    border-radius: 8px !important;
}
.borra-4 {
    border-radius: 10px !important;
}
.border-btm {
    border-bottom: 2px solid #A8A8A8 !important;
}
.border-none {
    border: none !important;
}
.borra-form {
    border-radius: 0px 0px 5px 5px !important;
}

/* flex */
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}

.flex-wrap {
    flex-wrap: wrap;
}

.height-30 {
    height: 50vh !important;
}


.height-90 {
    height: 90vh;
}
.mb-6 {
    margin-bottom: 60px;
}
.m-x {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.p-10 {
    padding: 0 20%;
}
.p-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.px-15 {
    padding-left: 15% !important;
    padding-right: 15% !important;
}
.h-80 {
    height: 80vh;
}

/* Start */
/* login */
.form-login {
    width: 400px;
}

.w-80 {
    width: 80%;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-45 {
    width: 45px !important;
}
.h-1 {
    height: 35vh;
}
.h-70 {
    height: 75vh !important;
}

/* dropdown user */
.triangle {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #3A3A3A;
    margin-left: 25px;
}

.drop-user {
    width: 110px;
}

.triangle-admin {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #3A3A3A;
    margin-left: 25px;
}
.drop-admin {
    width: 150px;
}

/* Home */
.home-container {
    height: 110vh;
    box-sizing: border-box;
}
/* card */
.card {
    width: 200px;
    border-radius: 10px !important;
}

.home-img {
    background-image: url(./assets/Jumbotron.svg);
    background-size: 100%;
    object-fit: contain;
}

/* transaction */
.transaction-container {
    height: 93vh;
}

/* music player */
.navplay {
    background-color: rgba(46, 45, 45, .8);
    height: 80px;
}
.rhap_container {
    background: transparent !important;
    box-shadow: none  !important;
}
.rhap_progress-indicator,
.rhap_volume-filled,
.rhap_volume-indicator {
    background: #EE4622 !important;
}
.rhap_download-progress,
.rhap_volume-bar {
    background-color: #c5c5c5 !important;
}
.rhap_progress-filled {
    background-color: #EE4622 !important;
}
.rhap_additional-controls {
    display: none !important;
}
.rhap_time,
.rhap_time,
.rhap_main-controls-button,
.rhap_volume-button {
    color: #fff !important;
}
.rhap_main {
    flex-direction: row !important;
    position: relative;
    right: 13%;
    margin-top: 8px;
    width: 60%;
}
.rhap_stacked .rhap_controls-section {
    margin-top: 0 !important;
    margin-bottom: 40px;
}
.rhap_volume-controls {
    justify-content: flex-start !important;
    margin-left: 30px;
    flex: 1 1;
}
.rhap_controls-section {
    position: absolute;
    left: 105%;
    top: -13px;
}
.rhap_volume-bar {
    width: 100px !important;
}
.rhap_progress-section {
    width: 30px !important;
}


/* additional */
input[type='file'] {
    padding-top: 5px;
    opacity: 0;
    cursor: pointer !important;
}
.thumbnail,
.attache {
    padding: 0 !important;
}

.form-file,
.form-filee {
    position: absolute;
    padding-left: 0;
    cursor: pointer;
}
.form-selects {
    position: relative;
}
.bx-paperclip {
    transform: rotate(90deg);
    font-weight: bold;
    color: #EE4622;
}
.attache {
    position: relative;
    cursor: pointer;
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.dropdown .btn:hover {
    border: none !important;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}
.dropdown .dropdown-menu,
.dropdown .btn {
    background-color: transparent !important;
    border: none !important;
    padding-top: 0 !important;
}
.p-10 .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.dropdown-toggle::after {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}
.mb-3px {
    margin-bottom: 3px !important;
}
.object-fit {
    object-fit: cover !important;
}

/* Chat User */
.chat-container {
    width: 35%;
    background-color: #2B2B2B;
    border-radius: 8px;
    
}
.overflow-auto {
    overflow: auto !important;
}
.bxs-message-alt-dots {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

#chat .chat-container {
    width:330px !important;
    position: fixed !important;
    bottom: 0 !important;
    margin-bottom: -230px;
    margin-left:50px !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* Chat admin */
.container-chat-admin {
    display: flex;
    flex-wrap: wrap;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 22px solid #0D6EFD;
	border-bottom: 13px solid transparent;
    margin-top: 8px;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 22px solid #0D6EFD;
	border-bottom: 10px solid transparent;
    margin-top: 10px;
}
.overflow-y {
    overflow-x: auto !important;
}
.position-relative {
    position: relative !important;
}
.p-fixed {
    position: fixed;
}
.position-absolute {
    position: absolute !important;
}

.chat-icon {
    cursor: pointer;
    right: 200px;
    bottom: 16px;
}
.contact-active {
    background-color: #161616;
}

.z-index1 {
    z-index: 1 !important;
}
.z-index10 {
    z-index: 10 !important;
}